:root {
  --fontmain: 'Maven Pro', sans-serif;
  --fontsecundary: 'Oswald', sans-serif;
}

body {
  box-sizing: border-box;
  text-align: center;
  background: rgb(225, 230, 255);
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
  font-family: 'Maven Pro', sans-serif;
  font-family: 'Oswald', sans-serif;
}

.navbar-custom {
  background: rgb(114, 114, 255);
  border-top: solid 5px #1F4A4D;
}

.nav-link {
  font-family: var(--fontmain);
}

.navLinks li a {
  color: black;
  transition: 0.4s;
  font-weight: 600;
  font-size: 1.3rem;
}

.navLinks li a:hover {
  color: #8F3838;
  transform: scale(1.1);
}

.iconos {
  width: 30px;
  
}

.iconosFa {
  font-size: 25px;
}


.iconoCart {
  width: 60px;
}

#logoGU {
  width: 100px;
}



.carrito {
  display: flex;
  text-decoration: none;
}


.carrito .iconoCart {
  margin: 0 15px;
}

.carrito p {
  color: #8F3838;
  font-size: 1.3rem;
}

.carrito:hover {
  animation: float 0.4s ease-out 3;
}

@keyframes float {
  50% {
     transform: translate(0, 8px);
  }
}

.ejemplo p {
  animation: color-change 1s infinite;
}

@keyframes color-change {
  0% { color: red; }
  33% { color: green; }
  66% { color: blue; }
  100% { color: red; }
}

/* Media Q */

@media screen and (max-width: 1921px) {

  .navLinks li a {
    font-weight: 600;
    font-size: 1.1rem;
  }

}

@media screen and (max-width: 1723px) {

  .navLinks li a {
    font-weight: 600;
    font-size: 1rem;
  }

}

@media screen and (max-width: 1623px) {

  .navLinks li a {
    font-weight: 600;
    font-size: 0.9rem;
  }


}

@media screen and (max-width: 1399px) {

  .navLinks li a {
    font-weight: 600;
    font-size: 1.4rem;
  }


}





